.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
******************** ProductCard CSS 
 */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/*
******************** Fin ProductCard CSS*/

/************ CategoriesNav CSS***********/
.categoriesNav {
  list-style-type: none;
}

.categoriesNav li {
  border: 0.25px solid #ebebe0;
  max-width: 210px;
  text-align: center;
  font-family: Sans-serif;
  font-size: 1.5em;
  margin: 1px;
  cursor: pointer;
}
.categoriesNav li:hover {
  color: white;
  background-color: #99c2ff;
  font-size: 1.8em;
  border-color: #99c2ff;
  max-width: 300px;
}
.cat {
  text-align: center;
}
/*******************Fin CategoriesNav CSS***********************/

/*======================================
   Start Checkout Form CSS
========================================*/
.shop.checkout {
  padding: 0;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
}
.shop.checkout .checkout-form {
  margin-top: 30px;
}
.shop.checkout .checkout-form h2 {
  font-size: 25px;
  color: #333;
  font-weight: 700;
  line-height: 27px;
}
.shop.checkout .checkout-form p {
  font-size: 16px;
  color: #333;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 30px;
}
.shop.checkout .form {
}
.shop.checkout .form .form-group {
  margin-bottom: 25px;
}
.shop.checkout .form .form-group label {
  color: #333;
  position: relative;
}
.shop.checkout .form .form-group label span {
  color: #ff2c18;
  display: inline-block;
  position: absolute;
  right: -12px;
  top: 4px;
  font-size: 16px;
}
.shop.checkout .form .form-group input {
  width: 100%;
  height: 45px;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 3px;
  border-radius: 0px;
  color: #333 !important;
  border: none;
  background: #f6f7fb;
}
.shop.checkout .form .form-group input:hover {
}
.shop.checkout .nice-select {
  width: 100%;
  height: 45px;
  line-height: 50px;
  margin-bottom: 25px;
  background: #f6f7fb;
  border-radius: 0px;
  border: none;
}
.shop.checkout .nice-select .list {
  width: 100%;
  height: 300px;
  overflow: scroll;
}
.shop.checkout .nice-select .list li {
}
.shop.checkout .nice-select .list li.option {
  color: #333;
}
.shop.checkout .nice-select .list li.option:hover {
  background: #f6f7fb;
  color: #333;
}
.shop.checkout .form .address input {
  margin-bottom: 15px;
}
.shop.checkout .form .address input:last-child {
  margin: 0;
}
.shop.checkout .form .create-account {
  margin: 0;
}
.shop.checkout .form .create-account input {
  width: auto;
  display: inline-block;
  height: auto;
  border-radius: 100%;
  margin-right: 3px;
}
.shop.checkout .form .create-account label {
  display: inline-block;
  margin: 0;
}
.shop.checkout .order-details {
  margin-top: 30px;
  background: #fff;
  padding: 15px 0 30px 0;
  border: 1px solid #eee;
}
.shop.checkout .single-widget {
  margin-bottom: 30px;
}
.shop.checkout .single-widget:last-child {
  margin: 0;
}
.shop.checkout .single-widget h2 {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 5px;
}
.shop.checkout .single-widget h2:before {
  position: absolute;
  content: "";
  left: 30px;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: #f7941d;
}
.shop.checkout .single-widget .content ul {
  margin-top: 30px;
}
.shop.checkout .single-widget .content ul li {
  display: block;
  padding: 0px 30px;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  margin-bottom: 12px;
}
.shop.checkout .single-widget .content ul li span {
  display: inline-block;
  float: right;
}
.shop.checkout .single-widget .content ul li.last {
  padding-top: 12px;
  border-top: 1px solid #ebebeb;
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #333;
}
.shop.checkout .single-widget .checkbox {
  text-align: left;
  margin: 0;
  padding: 0px 30px;
  margin-top: 30px;
}
.shop.checkout .single-widget .checkbox label {
  color: #555555;
  position: relative;
  font-size: 14px;
  padding-left: 20px;
  margin-top: -5px;
  font-weight: 400;
  display: block;
  margin-bottom: 15px;
}
.shop.checkout .single-widget .checkbox label:last-child {
  margin-bottom: 0;
}
.shop.checkout .single-widget .checkbox label:hover {
  cursor: pointer;
}
.shop.checkout .single-widget .checkbox label input {
  display: none;
}
.shop.checkout .single-widget .checkbox label::before {
  position: absolute;
  content: "";
  left: 0;
  top: 7px;
  width: 12px;
  height: 12px;
  line-height: 16px;
  border: 1px solid #666;
  border-radius: 100%;
}
.shop.checkout .single-widget .checkbox label::after {
  position: absolute;
  content: "";
  left: 0;
  top: 7px;
  width: 12px;
  height: 12px;
  line-height: 16px;
  border-radius: 100%;
  display: block;
  background: #666;
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.shop.checkout .single-widget .checkbox label.checked::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.shop.checkout .single-widget.payement {
  padding: 0px 38px;
  text-align: center;
  margin-top: 30px;
}
.shop.checkout .single-widget.get-button {
  text-align: center;
  padding: 0px 35px;
}
.shop.checkout .single-widget.get-button .btn {
  height: 46px;
  width: 100%;
  line-height: 19px;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  color: #fff;
}
.centerButton {
  margin-left: 30%;
}

.liveValidateMessage {
  top: -6px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-enter {
  opacity: 0;
  transform: translateY(100%);
}

.liveValidateMessage-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.liveValidateMessage-exit {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}
.messageerrors {
  margin-top: 80%;
}
/*======================================
   End Checkout Form CSS
========================================*/

/********
CENTER THE PAGINATION
*/
.centerPagination {
  text-align: center;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}
.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
}
.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #f7941d;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}
.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}
@keyframes preloader-fx {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
/* End Preloader */
